<ion-header>
  <ion-toolbar>
    <ion-title>{{ modo === 'editar' ? 'Editar Categoría' : 'Agregar Categoría' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="guardar()">
    <ion-item>
      <ion-label position="floating">Nombre de la Categoría</ion-label>
      <ion-input
        [(ngModel)]="categoria.nombre"
        name="nombre"
        required
      ></ion-input>
    </ion-item>

    <ion-footer>
      <ion-button expand="block" type="submit">
        {{ modo === 'editar' ? 'Guardar Cambios' : 'Crear Categoría' }}
      </ion-button>
    </ion-footer>
  </form>
</ion-content>
