<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tareas" href="/tabs/tareas">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categoria" href="/tabs/categoria">
      <ion-icon aria-hidden="true" name="pricetags-outline"></ion-icon>
      <ion-label>Categoría</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="consulta" href="/tabs/consulta">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label>Consultar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
